# BACKEND
BACKEND_CONTAINER_NAME=express-output-crud-auth-jwt-backend
BACKEND_PORT=4000
BACKEND_CONTAINER_PORT=3000

# MySQL
MYSQL_CONTAINER_NAME=mysql-output-crud-auth-jwt-db
MYSQL_DATABASE=EXPRESS_OUTPUT_CRUD_AUTH_JWT_DB
MYSQL_USER=user
MYSQL_PASSWORD=pass
MYSQL_PORT=3306
MYSQL_CONTAINER_PORT=3306

# Frontend
FRONTEND_BASE_URL=http://localhost:5173


#jwt
JWT_SECRET=Gem0zASzP+E9A7p3/RDzEMPBfOlZvvu4EOq3PxfrkNv65kyaLAjuOAWQG+GJLsVOaHZyTIOweyQZapzBbyycIJv0FEqpaWMuk1uT93e2VYJW9zbFfCxBoYydlofQqyt3jINfZz4HAQ9qBFfXHKZZkqWRLPcyh2eeD1SAL7DoU0kKG9rRalNCn2Qmdwm9jMvuUvvDWSflzY5l23OY6pd1GAQaFPf3RFTb5mNVq257K3925tshtvvn0i3CphW9BzxJPSDXzQS+dyyRkTDWGtRLCqd2i1sFUFpshC54mgnO+OFXqhcfsC3v4alm20YPR9W6JZKAAGk5uohw0HpJ7VXapQ==

